body {
  background-color: #395144;
}

.navbar {
  background: #395144;
  color: #F0EBCE;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  font-size: 20px;
  color: #F0EBCE;
  text-decoration: none;
}

.nav-list li a:hover {
  color: #AA8B56;
}

.headdiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  height: 400px;
  background-color: #AA8B56;
  position: relative;
  top: 600px;
  left: 170px;
}

.book {
  height: 250px;
  width: 200px;
  background-color: #F0EBCE;

}

.booksforlovers {
  color: #F0EBCE;
  position: absolute;
  top: 580px;
  left: 170px;
}

#booksection {
  text-transform: uppercase;
  top: -100px;
  z-index: 3;
  position: relative;
  width: 100%;
}

#booksection1 {
  margin-left: 40px;
  color: #2d1f06;

}

#booksection2 {
  margin-left: 80px;
  color: #F0EBCE;

}

h1 {
  color: #F0EBCE;
  position: relative;
  text-align: center;
  
}
.library {
  transition: transform 1s;
  margin-bottom: 10px;
}
.library:hover {
  transform: translate(-100px);
}
.library img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.library img:hover {
  transform: scale(1.1);
}

.Lib {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 500px;
  position: relative;
  left: 36%;
  top: 1%;
  

}
@keyframes newanimation {
  0% {left: 0;}
  100% {left: 100px;}
}

:root {
  --hue: 220deg;
  --base-bg-sat: 20%;
  --base-bg-lum: 12%;
  --base-bg: hsl(220deg 36% 24.43%);
  --base-fg-sat: 50%;
  --base-fg-lum: 80%;
  --base-fg: hsl(var(--hue), var(--base-fg-sat), var(--base-fg-lum));
  --filter-fg: saturate(100%) brightness(100%);
  --module-bg-sat: 18%;
  --module-bg-lum: 27%;
  --module-bg: hsl(var(--hue), var(--module-bg-sat), var(--module-bg-lum));
}

div.notice {
  font-size: 4em;
  text-align: center;
  margin-top: 2em;
}

.world {
  fill: #aa8b56;
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid #aa8b56;
  box-sizing: border-box;
  background-image: url(#icon-world);
  position: absolute;
  top: -118px;
  left: 30%;
}

.world svg {
  width: 4em;
  height: 1em;
  margin-top: calc(-2px + -0.05em);
  display: inline;
  animation: world-scroll 3s linear infinite;
}

@keyframes world-scroll {
  from {
    margin-left: -2.75em;
  }

  to {
    margin-left: -1em;
  }
}

.backimage {
  position: absolute;
  width: 100%;
  height: 500px;
  margin-left: 100px;
  background-image: url('13-captivating-facts-about-beinecke-library-1695483441.jpg');
  background-size: contain;
  background-repeat: no-repeat;
   transition: background-image 0.5s ease-in-out;

}
.backimage:active{
  transform: rotate(50deg);
}

.scrol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 500px;
  position: relative;
  top: 3%;
  left: 13%;
  background-color: #AA8B56;
}

.library {
  position: relative;
  left: 20px;
}

@media only screen and (max-width: 1350px) {
  .world {
    left: 10%;
  }

  .headdiv {
    height: 600px;
    left: 2%;
  }

  .booksforlovers {
    left: 2%;

  }
}

@media only screen and (max-width: 800px) {
  .world {
    display: none;
  }

}
